Checklist.

Link (Page 55-77): https://qualifications.pearson.com/content/dam/pdf/TLevels/digital/digital-production-design-and-development/specification-and-sample-assessments/T_Level_Specification.pdf


First - Research:

```
• Understand the breif
Discuss:
• common problems and risks
• hardware and software uses in context
• newly emerging technologies
• other related solutions/software
• business context and legislation
• plan for short falls and gaps in knowledge - say how you're gonna make up
```

